body{
  background-color: black;
  color: white;
  font-family: cera-round-pro, "Helvetica Neue","Helvetica","Arial","sans-serif";
}

#logIn{
  width: 400px;
  height: 680px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-image: linear-gradient(to right, rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url("https://cdn.pixabay.com/photo/2023/04/29/20/23/ai-generated-7959248_1280.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 2px 1px 5px 1px lightgray;
}

#signupbtn{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}

#signupbtn button{
  width: 250px;
  padding: 10px;
  margin-bottom: 12px;
  border-radius: 30px;
}


#nav{
  background-color: rgb(57, 56, 56);
}

/* App.css */

.app {
  width: 100%;
}

.light {
  /* background-color: #ffffff; */
  color: #000000;
}

.dark {
  background-color: #fffafa;
  color: #000000;
}


#sidebar{
  height: 90vh;
  background-color: rgb(57, 56, 56);

}

#list{
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
}

.icon{
  margin-right: 10px;
}

.items{
  padding: 18px;
  font-size: 18px;
}

::placeholder{
  color: white;
}

#post{
  background-color: rgb(57, 56, 56);
}

/*right panel */

.rightPanel{
  background-color: rgb(57, 56, 56);

  /* background-color: white; */
  border-radius: 10px;
  padding: 20px;
  max-height: 100vh;
  overflow-y: auto;
  /* overflow: hidden; */
}
.rightPanel::-webkit-scrollbar{
  display: none;
}

.RpBox{
  height: 150px;
  border: 1px solid black;
  border-radius: 10px;
  /* background-image: url(https://cdn.pixabay.com/photo/2016/11/13/12/52/kuala-lumpur-1820944_640.jpg); */
  background-size: cover;
  position: relative;
  z-index: 0;
  margin-bottom: 10px;
}

.RpBoxfooter{
  width: 80%;
  height: 50px ;
  position: absolute;
  bottom: 15px;
  left: 10px;
  display: flex;
  z-index: 1;
  color: white;
  opacity: 100%;
}
.RpBoxfooter img{
  width: 30%;
  height: 110%;
  border-radius: 10px;
  border: 1px solid yellow;
  margin-right: 10px;
}
.RpBoxfooter p strong{
  font-size: 22px;
}

