*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    height: 80px;
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 5px 0px 5px 0px;
    position: sticky;
}
.logodiv{
    /* border: 1px solid black; */
    width: 21%;
    display: flex;
    justify-content: center;
}

.header nav{
    /* border: 1px solid black; */
    width: 60%;
}
.header nav ul li{
    list-style:  none;
}
.header nav ul li a{
    margin-right: 5%;
    font-size: 17px;
    text-decoration: none;
    position: relative;
    padding: 5px;
    padding-bottom: 20px;
}
.header nav ul li a::before{
    content: "";
    width: 0%;
    height: 2px;
    background-color: purple;
    position: absolute;
    bottom: 0px;
    left: 0px;
    transition: 0.5s;
}
.header nav ul li a:hover::before{
    width: 100%;
}