*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    height: 80px;
    background-color: white;
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 0px 30px 0px rgb(206, 204, 204);
    position: sticky;
    top: 0;
    /* opacity: 1; */
    z-index: 1;
}
.logodiv{
    /* border: 1px solid black; */
    width: 21%;
    display: flex;
    justify-content: center;
}

.header nav{
    /* border: 1px solid black; */
    width: 60%;
}
.header nav ul li{
    list-style:  none;
}
.header nav ul li a{
    margin-right: 5%;
    font-size: 17px;
    text-decoration: none;
    position: relative;
    padding: 5px;
    padding-bottom: 20px;
}
.header nav ul li a::before{
    content: "";
    width: 0%;
    height: 2px;
    background-color: purple;
    position: absolute;
    bottom: 0px;
    left: 0px;
    transition: 0.5s;
}
.header nav ul li a:hover::before{
    width: 100%;
}

/* Things Component */

.things{
    height: auto;
    /* width: 100%; */
    /* border: 1px solid black;  */
    display: flex;
    padding: 50px 0px;
}
.thingtext{
    flex-basis: 60%;
    /* border: 1px solid black; */
    padding: 10% 5%;
}
.thingtext h1{
    width: 90%;
    font-size: 70px;
    font-weight: 600;
}
.thingtext p{
    width: 70%;
    font-size: 20px;
    line-height: 40px;
}
.thingtext button{
    font-size: 20px;
    padding: 20px 40px;
    border-radius: 35px;
    color: white;
    border: none;
    background-color: #F9218D;
    cursor: pointer;
    position: relative;
    transition: 1s;
    margin-top: 10px;
    z-index: 1;
}
.thingtext button::before{
    content: "";
    width: 0%;
    height: 100%;
    border-radius: 35px;
    background-color: #f90780;
    /* background-color: white; */
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
    z-index: 2000;
}
.thingtext button:hover::before{
    width: 100%;
    opacity: 0s;
    border-radius: 35px 35px 35px 35px;

}
.thingtext i{
    font-size: 60px;
    color: #D852E8;
    cursor: pointer;
    position: absolute;
}



/* Feature Component */
.feature{
    height: auto;
    /* width: 100%; */
    /* border: 1px solid black;  */
    display: flex;
    margin-bottom: 150px;
}
.featurepic{
    width: 35%;
    /* border: 1px solid black; */
    padding-left: 20px;
}
.featurepic img{
    width: 100%;
}
.featuretext{
    width: 60%;
    padding: 0px 5px;
}
.featuretext h1{
    width: 80%;
    font-size: 60px;
    font-weight: 600;
    margin-top: 85px;
}
.featuretype{
    display: flex;
    flex-wrap: wrap;
}
.type{
    display: flex;
    flex-basis: 50%;
    /* border: 1px solid black; */
    padding: 30px 5px;
}
.type i{
    /* border: 1px solid black; */
    padding: 15px 19px;
    border-radius: 50%;
    font-size: 30px;
    color: white;
    background-image: linear-gradient(to top, rgb(155, 113, 246), rgb(224, 136, 234));
}
.type p{
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0.5px;
    word-spacing: 2px;
    color: gray;
}
.typetext{
    padding-left: 20px;
    width: 80%;
}
.typetext h2{
    margin-bottom: 10px;
    font-weight: 600;
}



/* Help Componenets */
.help{
    background-color: #f4feff;
    padding: 200px 80px;
    text-align: center;
}
.help h1{
    font-size: 55px;
    font-weight: 600;
}
.helpType{
    display: flex;
    justify-content: space-between;
    height: auto;
    /* border: 1px solid black; */
    
}
.helpBox{
    height: 500px;
    width: 31%;
    /* border: 1px solid blue; */
    background-color: white;
    border-radius: 10px;
    transition: 0.2s;
    text-align: center;
}
.helpBox:hover{
    border: 1px solid blue;
}
.helpBox:hover .iconBg{
    right: 23%;
}
.helpBox:hover i{
    background-color: blue;
}
.iconBox{
    height: 250px;
    /* border: 1px solid black; */
    position: relative;
}
.iconBox i{
    /* border: 1px solid black; */
    border-radius: 50%;
    padding: 19px 30px;
    font-size: 50px;
    position: absolute;
    top: 35%;
    left: 35%;
    background-color: #D852E8;
    color: white;
    z-index: 1;
}
.iconBg{
    position: absolute;
    top: 10%;
    right: 25%;
    z-index: 0;
    transition: 0.5s;
}
.helpBox p {
    width: 70%;
    margin-left: 15%;
    line-height: 30px;
    color: gray;
    font-weight: 400;
}