.swiper {
    width: 100%;
    height: 100%;
    z-index: 0;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 0;
    top: 0;
    overflow: visible;
    text-align: left;
    background-color: #0c1229;
  }

  .swiperImg{
    display: block;
    height: 300px;
    position: relative;
  }

  .swiper-slide img {
    border-radius: 10px;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    object-fit: cover;
  }
  .swiperText{
    display: none;
    line-height: 18px;
    padding: 10px;
  }

  .watchNow, .add{
    width: 75%;
    padding: 15px;
    position: absolute;
    top: 195px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    font-weight: bold;
  }
  
  .add{
    width: 15%;
    right: 10px;
    font-size: 25px;
    background-color: #3a3a3cf7;
  }

  .swiper-slide:hover{
    z-index: 1;
    width: 180%;
    height: 350px;
    left: -40px;
  }

  .swiper-slide:hover .swiperImg{
    height: 70%;
  }
  .swiper-slide:hover .swiperImg img{
    top: 0;
  }
  .swiper-slide:hover .swiperText{
    display: block;
  }

  .watchNow:hover{
    transform: scale(1.02);
  }
  .add:hover{
    transform: scale(1.02);
  }

  
  .swiper {
    margin-left: auto;
    margin-right: auto;
  }  